.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #767676;
}

.Header a {
    color: #000;
    text-decoration: none;
}

.Header a:hover {
    color: #dc3545;
}

.Header h1 {
    font-weight:bold;
}

.FryRank {
    width: min(15rem, 40vw);
}