.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #D9D9D9;
}

.Header a {
    color: #000;
    text-decoration: none;
}

.Header a:hover {
    color: #8B0000;
}

.Header h1 {
    font-weight:bold;
}